@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root{
    --access-primary-button: rgb( 0, 149, 246);
    --access-primary-button-hover: rgb( 24, 119, 242);
    --access-secondary-text: rgb(115, 115, 115);
    --access-primary-text: rgb(0, 0, 0);
    --access-text-white: rgb(255,255,255);
    --access-secondary-background: rgb(250, 250, 250);
    --access-primary-background: rgb(255,255,255);
    --border-stroke:rgb( 219, 219, 219);

    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Chrome-specific styling */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    /* display: none; */
    /* -webkit-appearance: none; */
    background-color: white;
    /* color: white; */
}
.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



